/* App.css */
body {
    background-color: #282c34;
    color: white;
    padding: 1px;
    font-family: Sans-Serif;
    text-align: center;
    height: 100vh; /* 100% view height */
    width: 100vw; /* 100% view width */
}
